@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts */
@font-face {
	font-family: "youngone";
	src: url("../src/assets/fonts/YoungonesRsRegular-4lVx.ttf");
}

@font-face {
	font-family: "hotmustard";
	src: url("../src/assets/fonts/Hot_20Mustard_20BTN.ttf");
}

#root {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
